@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.f {
  display: flex;
}

.create-user-modal {
  .modal-dialog {
    max-width: 810px;
    /* Tăng chiều rộng modal */
  }

  .modal-header {
    .btn-close {
      margin-left: 250px;
      /* Điều chỉnh vị trí nút đóng */
    }

    .modal-title {
      margin-left: 265px;
      /* Điều chỉnh vị trí tiêu đề */
    }
  }

  .modal-body {
    align-items: flex-start;
    /* Căn chỉnh nội dung lên trên */
    padding: 20px;

    .R1 {
      display: flex;
      margin-bottom: 10px;
      /* Giảm khoảng cách giữa các hàng */

      .inputbox {
        position: relative;
        margin: 20px 15px;
        border-bottom: 2px solid black;
        color: black;
        width: 350px;
        /* Tăng chiều rộng input */

        .toggle-password {
          ion-icon {
            cursor: pointer;
          }
        }

        input {
          width: 100%;
          height: 50px;
          /* Giảm chiều cao input */
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 0 35px 0 5px;
          color: black;
          margin-bottom: -10px;

          &:-webkit-autofill {

            &,
            &:hover,
            &:focus,
            &:active {
              -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
              -webkit-text-fill-color: black !important;
              border: none !important;
              background: transparent !important;
              transition: background-color 5000s ease-in-out 0s;
            }

            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }

          &:not(:placeholder-shown) {
            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: black;
          font-size: 1rem;
          pointer-events: none;
          transition: all 0.5s ease-in-out;
        }

        ion-icon {
          position: absolute;
          right: 8px;
          color: black;
          font-size: 1.2rem;
          top: 15px;

          &[name='eye-outline'],
          &[name='eye-off-outline'] {
            cursor: pointer;

            &:hover {
              color: #333;
            }
          }
        }

        .error-message {
          display: none;
          font-size: 0.7rem;
          color: #ff0000;
          margin-top: 5px;
          position: absolute;
          bottom: -20px;
          left: 5px;
        }

        input:focus {
          ~label {
            top: -5px;
            color: black;
          }

          ~ion-icon {
            color: black;
          }
        }

        &:hover {
          border-bottom: 2px solid #333;

          label {
            top: -5px;
            color: black;
          }

          ion-icon {
            color: black;
          }
        }
      }

      .selectbox {
        position: relative;
        margin: 20px 15px;
        border-bottom: 2px solid black;
        color: black;
        width: 350px;
        /* Tăng chiều rộng select */

        label {
          position: absolute;
          top: -10%;
          left: 5px;
          transform: translateY(-50%);
          color: #706464;
          font-size: 1rem;
          pointer-events: none;
          transition: all 0.5s ease-in-out;
        }

        select {
          width: 100%;
          height: 50px;
          /* Giảm chiều cao select */
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 0 35px 0 5px;
          color: black;
          appearance: none;
          cursor: pointer;
          box-sizing: border-box;
          margin-bottom: -10px;
        }

        option {
          background-color: rgb(248, 245, 245);
        }

        ion-icon {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2rem;
          color: black;
          pointer-events: none;
        }
      }
    }

    .R2 {
      &.veterinarian-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 15px;

        .inputbox {
          width: 100%;
          max-width: 720px;
          /* Tăng chiều rộng cho veterinarian-info */

          input {
            width: 100%;
            height: 50px;
          }

          label {
            top: 20px;
            /* Điều chỉnh vị trí label cho textarea */
          }

          ion-icon {
            top: 15px;
          }
        }

        .selectbox {
          position: relative;
          margin: 20px 15px;
          border-bottom: 2px solid black;
          color: black;
          width: 350px;
          /* Tăng chiều rộng select */

          label {
            position: absolute;
            top: -10%;
            left: 5px;
            transform: translateY(-50%);
            color: #706464;
            font-size: 1rem;
            pointer-events: none;
            transition: all 0.5s ease-in-out;
          }

          select {
            width: 100%;
            height: 50px;
            /* Giảm chiều cao select */
            background: transparent;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 0 35px 0 5px;
            color: black;
            appearance: none;
            cursor: pointer;
            box-sizing: border-box;
            margin-bottom: -10px;
          }

          option {
            background-color: rgb(248, 245, 245);
          }

          ion-icon {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.2rem;
            color: black;
            pointer-events: none;
          }
        }
      }

      .inputbox-2 {
        position: relative;
        margin: 20px 0;
        border-bottom: 2px solid black;
        color: black;

        .toggle-password {
          ion-icon {
            cursor: pointer;
          }
        }

        input {
          width: 350px;
          height: 50px;
          /* Giảm chiều cao input */
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 0 35px 0 5px;
          color: black;
          margin-bottom: -10px;

          &:-webkit-autofill {

            &,
            &:hover,
            &:focus,
            &:active {
              -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
              -webkit-text-fill-color: black !important;
              border: none !important;
              background: transparent !important;
              transition: background-color 5000s ease-in-out 0s;
            }

            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }

          &:not(:placeholder-shown) {
            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: black;
          font-size: 1rem;
          pointer-events: none;
          transition: all 0.5s ease-in-out;
        }

        ion-icon {
          position: absolute;
          right: 8px;
          color: black;
          font-size: 1.2rem;
          top: 15px;

          &[name='eye-outline'],
          &[name='eye-off-outline'] {
            cursor: pointer;

            &:hover {
              color: #333;
            }
          }
        }

        .error-message {
          display: none;
          font-size: 0.7rem;
          color: #ff0000;
          margin-top: 5px;
          position: absolute;
          bottom: -20px;
          left: 5px;
        }

        input:focus {
          ~label {
            top: -5px;
            color: black;
          }

          ~ion-icon {
            color: black;
          }
        }

        &:hover {
          border-bottom: 2px solid #333;

          label {
            top: -5px;
            color: black;
          }

          ion-icon {
            color: black;
          }
        }
      }

      .inputbox-1 {
        position: relative;
        margin: 20px 0px;
        border-bottom: 2px solid black;
        color: black;
        width: 730px;

        textarea {
          width: 700px;
          height: 40px;
          resize: vertical;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 10px 35px 10px 5px;
          color: black;
          margin-bottom: -10px;
          line-height: 1rem;
        }

        input {
          width: 100%;
          width: 750px;
          height: 50px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;

          color: black;
          margin-bottom: -10px;

          &:not([type='password']):-webkit-autofill {

            &,
            &:hover,
            &:focus,
            &:active {
              -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
              -webkit-text-fill-color: black !important;
              border: none !important;
              background: transparent !important;
              transition: background-color 5000s ease-in-out 0s;
            }

            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }

          &:not(:placeholder-shown) {
            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: black;
          font-size: 1rem;
          pointer-events: none;
          transition: all 0.5s ease-in-out;
        }

        ion-icon {
          position: absolute;
          right: 8px;
          color: black;
          font-size: 1.2rem;
          top: 15px;

          &[name='eye-outline'],
          &[name='eye-off-outline'] {
            cursor: pointer;

            &:hover {
              color: #333;
            }
          }
        }

        input:focus {
          ~label {
            top: -5px;
            color: black;
          }

          ~ion-icon {
            color: black;
          }
        }

        &:hover {
          border-bottom: 2px solid #333;

          label {
            top: -5px;
            color: black;
          }

          ion-icon {
            color: black;
          }
        }
      }

      .inputbox-address {
        position: relative;
        margin: 20px 0px;
        border-bottom: 2px solid black;
        color: black;
        width: 730px;
        margin-left: 1rem;

        input {
          width: 100%;
          width: 700px;
          height: 50px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;

          color: black;
          margin-bottom: -10px;

          &:not([type='password']):-webkit-autofill {

            &,
            &:hover,
            &:focus,
            &:active {
              -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
              -webkit-text-fill-color: black !important;
              border: none !important;
              background: transparent !important;
              transition: background-color 5000s ease-in-out 0s;
            }

            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }

          &:not(:placeholder-shown) {
            ~label {
              top: -5px;
              color: black;
            }

            ~ion-icon {
              color: black;
            }
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: black;
          font-size: 1rem;
          pointer-events: none;
          transition: all 0.5s ease-in-out;
        }

        ion-icon {
          position: absolute;
          right: 8px;
          color: black;
          font-size: 1.2rem;
          top: 15px;

          &[name='eye-outline'],
          &[name='eye-off-outline'] {
            cursor: pointer;

            &:hover {
              color: #333;
            }
          }
        }

        input:focus {
          ~label {
            top: -5px;
            color: black;
          }

          ~ion-icon {
            color: black;
          }
        }

        &:hover {
          border-bottom: 2px solid #333;

          label {
            top: -5px;
            color: black;
          }

          ion-icon {
            color: black;
          }
        }
      }

      .error-message {
        color: red;
        font-size: 1rem;
        margin-top: -10px;
        margin-bottom: -10px;
        margin-left: 15px;
      }
    }
  }

  .modal-footer {
    justify-content: space-between;
  }
}