f {
  display: flex;
}

input {
  outline: none;
}

textarea {
  outline: none;
}
.sb {
  display: flex;
  justify-content: space-between;
}

.makeappointment-body {
  background-color: white;
  background-image: url('../../assets/doctor-imgs/bg-ck.png');
  display: flex;
  flex-direction: column; // Add this to stack children vertically
  width: 100%;
  align-items: center;
  min-height: 100vh;

  .header-container {
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid black;
    height: 5rem;
  }

  justify-content: center;

  .makeappointment-content {
    margin-top: 6rem;
    width: 40rem;
    margin-left: 27rem;

    h1 {
      font-weight: bold;
      color: #4dc9f2;
      text-align: center;
      margin-bottom: 2rem;
    }

    .makeappointment-content-user-info {
      margin-left: 5rem;

      b {
        margin-top: 0.7rem;
        display: block;

        margin-bottom: 1rem;
      }

      input {
        background-color: transparent;
        padding: 0.2rem;
        display: block;

        width: 30rem;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid black;
        padding-left: 0.5rem;
      }

      input:last-child {
        margin-bottom: 2rem;
      }
    }

    .makeappointment-content-pet-info {
      margin-left: 5rem;

      b {
        margin: 1rem 0;
        display: block;
      }

      input {
        background-color: transparent;
        padding: 0.2rem;
        display: block;

        width: 30rem;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid black;
        padding-left: 0.5rem;
      }

      .f {
        input {
          width: 14.5rem;
          margin: 0;
          margin-bottom: 1rem;
        }

        input:first-child {
          margin-right: 1rem;
        }

        select {
          margin-top: 1rem;
          background-color: #4dc9f2;
          color: white;
          font-weight: bold;
          padding: 0.4rem;
          width: 5rem;
          border-radius: 0.3rem;
          margin-bottom: 2rem;
          border: none;
        }

        p {
          margin-right: 1rem;
          margin-top: 1.3rem;
        }

        p:first-of-type {
          margin-left: 0.4rem;
        }

        select:first-of-type {
          margin-right: 7.4rem;
        }
      }
    }

    .makeappointment-save-petinfo-button {
      text-align: end;
      margin-right: 5rem;

      button {
        padding: 0.3rem;
        width: 4rem;
        border-radius: 0.3rem;
      }

      .stra {
        margin: 1rem 0;
        margin-left: 5rem;
        width: 30rem;
        height: 0.08rem;
        background-color: black;
      }
    }

    .doctor-info {
      margin-left: 5rem;
    }

    .makeappointment-content-doctor {
      margin-top: 1rem;
      margin-left: 5rem;

      button {
        background-color: #4dc9f2;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 10rem;
        max-height: 2.5rem;
      }

      p {
        margin-left: 1rem;
      }

      .doctor-info-display {
        margin-left: 1.2rem;
      }
    }

    .makeappointment-content-date {
      margin-top: 1rem;
      margin-left: 5rem;

      .date-picker {
        &::placeholder {
          color: white;
          font-weight: bold;
          padding-left: 0.15rem;
        }
      }

      button:last-child {
        background-color: #4dc9f2;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 5rem;
        margin-left: 1rem;
      }

      input {
        width: 10rem;
        padding: 0.4rem 0.3rem;
        border-radius: 0.3rem;
        border: none;
        color: white;
        background-color: #4dc9f2;
      }
    }

    .makeappointment-content-service {
      margin-top: 1rem;
      margin-left: 5rem;

      p {
        margin: 0;
        margin-bottom: 0.7rem;
      }

      select {
        background-color: #4dc9f2;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 10rem;
      }
    }

    .makeappointment-content-time {
      margin-top: 1rem;
      margin-left: 1rem;

      p {
        margin: 0;
        margin-bottom: 0.7rem;
      }

      select {
        background-color: #4dc9f2;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 10rem;
      }
    }

    .makeappointment-content-pet {
      margin-bottom: 1.5rem;
      margin-left: 5rem;

      button {
        background-color: #4dc9f2;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 13rem;
      }
    }

    textarea {
      background-color: transparent;
      padding: 0.2rem;
      height: 10rem;
      margin-top: 1.5rem;
      width: 30rem;
      margin-left: 5rem;
    }

    .makeappointment-content-petimgs {
      margin-top: 0.7rem;

      p {
        margin-bottom: 1rem;
      }

      margin-left: 5rem;

      .makeappointment-content-petimgs-block {
        min-width: 30rem;
        max-width: 30rem;
        min-height: 11rem;
        border: 1px solid black;

        .makeappointment-content-petimgs-item {
          display: inline-block;
          margin: 1rem 0;

          img {
            margin-left: 0.7rem;
            max-width: 9rem;
          }

          button {
            background-color: red;
            position: absolute;
            color: white;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.3rem;
            border-top-right-radius: 0;
            border: none;
            transform: translateX(-1.5rem);

            ion-icon {
              margin-top: 0.25rem;
            }
          }
        }

        .add-img {
          border-radius: 0.3rem;
          margin-top: 1rem;
          margin-left: 0.7rem;
          width: 9rem;
          height: 9rem;
          background-color: rgb(212, 212, 212);
          font-size: 4rem;
          color: black;
          text-align: center;

          label {
            cursor: pointer;
            margin-top: 1rem;
            width: 9rem;
            height: 9rem;
          }
        }
      }
    }

    .makeappointment-actions {
      margin-left: 5rem;
      max-width: 30rem;
      .makeapp {
        background-color: #4dc9f2;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 7rem;

        margin-top: 2rem;

        margin-bottom: 4rem;
      }
      .cancel-follow-up {
        background-color: #fe5238;
        border-radius: 0.3rem;
        color: white;
        font-weight: bold;
        border: none;
        padding: 0.4rem 0.3rem;
        width: 7rem;

        margin-top: 2rem;

        margin-bottom: 4rem;
      }
    }
  }
}
