@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.login-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../../assets/images/login_bg.jpg');

  .login-container {
    position: relative;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;

    .login-content {
      position: relative;

      .home-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: -24px;
        left: -7px;

        a ion-icon {
          font-size: 25px;
          color: #565151;
          border: 2px solid white;
          padding: 7px;
          border-radius: 20px;
          background-color: white;
          transition: 0.3s;

          &:hover {
            background-color: #565151;
            color: white;
            border: 2px solid #565151;
            cursor: pointer;
          }
        }
      }

      .text-login {
        font-size: 2.5rem;
        color: #565151;
        text-align: center;
      }

      .inputbox {
        position: relative;
        margin: 40px 15px;
        border-bottom: 2px solid #565151;
        color: #565151;

        &:hover,
        &:has(input:not(:placeholder-shown)),
        &:has(input:focus) {
          border-bottom: 2px solid rgb(95, 94, 95);
        }

        label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: #565151;
          font-size: 1.2rem;
          pointer-events: none;
          transition: all 0.5s ease-in-out;
        }

        input:not(:placeholder-shown) ~ label,
        &:hover label,
        input:focus ~ label {
          /* Thêm selector cho focus */
          top: -5px;
          color: #565151;
        }
        input {
          width: 100%;
          width: 380px;
          height: 60px;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 0 50px 0 5px;
          color: #565151;
          margin-bottom: -15px;
          box-sizing: border-box;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
            -webkit-text-fill-color: #565151 !important;
            border: none !important;
            background: transparent !important;
            transition: background-color 5000s ease-in-out 0s;
          }

          &:-webkit-autofill ~ label {
            top: -5px;
            color: #333;
          }

          &:-webkit-autofill ~ ion-icon {
            color: #333;
          }
        }
        .toggle-password {
          cursor: pointer;
        }
        ion-icon {
          position: absolute;
          right: 8px;
          color: #565151;
          font-size: 1.2rem;
          top: 20px;
        }

        input:not(:placeholder-shown) ~ ion-icon,
        &:hover ion-icon {
          color: #333;
        }
      }
      .error-message {
        margin-top: -30px;
        margin-bottom: 50px;
        margin-left: 17px;
        color: rgb(153, 20, 20);
      }
      .password-util {
        margin: 20px 0px;
        font-size: 0.85rem;
        color: #565151;
        display: flex;
        justify-content: flex-end;
        margin-right: 18px;
        .remember-me{
          margin-top: -0.3rem;
          margin-right: 8.2rem;
          color: #565151;
          font-weight: 600;
          input{
            
            margin-right: 0.5rem;
          }
        }
        .forgot-password {
          color: #565151;
          text-decoration: none;
          font-weight: 600;
          font-size: 0.85rem;
          line-height: 1;
          cursor: pointer;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }

      .login-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        display: block;
        width: 100%;
        max-width: 200px;
        height: 40px;
        border-radius: 40px;
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: all 0.4s ease;

        &:hover {
          background-color: #565151;
          color: rgb(255, 255, 255);
        }

        p {
          margin: 0;
        }
      }

      .signin {
        font-size: 0.9rem;
        color: #565151;
        text-align: center;
        margin: 35px 0 10px;

        p {
          margin: 0;

          a {
            text-decoration: none;
            color: #565151;
            font-weight: 600;

            &:hover {
              text-decoration: underline !important;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
